####################################################################
# WhiteSource Unified-Agent configuration file for Python
# GENERAL SCAN MODE: Package Managers only
####################################################################
log.level=trace


##################################
# Organization tokens:
##################################
# ! In case of PIPER, apiKey may not be used in this configuration,
#   but set in configuration of piper.
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.

projectName=updated_by_scan
projectVersion=1.5.57
projectToken=

# generate scan report
generateScanReport=true

productName=
productVersion=
productToken=eaf8db06829343f6a42c8c15607329416c15a4ff0e0a451a9ab13c68f2ca6609
updateType=OVERRIDE
forceUpdate=false
#requesterEmail=user@provider.com

# Parameter “failErrorLevel” needs to be "all", because in some cases it could happen that Unified Agent is reporting SUCCESS but scan is incomplete or did not work at all.
# See https://jam4.sapjam.com/blogs/show/RxNfyrjv3BtDxNC3BAvmvo
failErrorLevel=all

##############################################################
# WhiteSource Unified-Agent configuration file for DOCKER IMAGES
# GENERAL SCAN MODE: Docker Image scan only
##############################################################
checkPolicies=false
forceCheckAllDependencies=false

# ignoreSourceFiles parameter is important and need to be true
ignoreSourceFiles=true
# resolveAllDependencies parameter is important and need to be false
resolveAllDependencies=false
#wss.connectionTimeoutMinutes=60
# URL to your WhiteSource server.
wss.url=https://sap.whitesourcesoftware.com/agent

apiKey=6971b2eec2d3420bad0caf173ec629f6a3c7d3ba63f3445ab99ffdbf1acfb1d0

# userKey is required if WhiteSource administrator has enabled "Enforce user level access" option.
# ! In case of PIPER, apiKey may not be used in this configuration,
#   but set in configuration of piper.
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
userKey=
# forceUpdate parameter is important and need to be true
######################
# Docker Images
#
######################
docker.scanImages=true
docker.includes=
docker.excludeBaseImage=true
docker.dockerfilePath=./Dockerfile
docker.pull.maxImages=1
fileSystemScan=false

includes=**/*.gem **/*.nupkg **/*.dll **/*.jar **/*.rpm **/*.tar.bz2.h **/*.py **/*.php **/*.pl **/*.pm **/*.apk **/*.deb **/*.ts* **/*.js* **/*.java


## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar **/*.sh **scannerwork/css-bundle/node_modules/** /app_whitesource/** **/utilities/EFSCleaner/** **/test/** **/coverage/** **/tools/** **/tests/** **/node_modules/mocha/** **/node_modules/jest/** **/node_modules/jsbn/** **/node_modules/jest-playwright-preset/** **/node_modules/playwright/** **/generated-unit-test-results/** **/node_modules/supertest/** **/shell-api-swagger.html **/operation-manager-api-swagger.html **/ml-api-runtime-manager-swagger.html **/css-bundle/node_modules/** **/example*/** **/examples*/** **/test*/** **/.ws_bower*/** **/.scannerwork*/** **/playwright*/** **/jest-playwright-preset*/**
