apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ template "nvidia-device-plugin.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "nvidia-device-plugin.name" . }}
spec:
  selector:
    matchLabels:
      name: {{ template "nvidia-device-plugin.fullname" . }}
  template:
    metadata:
      labels:
        name: {{ template "nvidia-device-plugin.fullname" . }}
        k8s-app: {{ template "nvidia-device-plugin.name" . }}
    spec:
      {{- if .Values.nvidiaDevicePlugin.nodeAffinity }}
      affinity:
        nodeAffinity:
{{  toYaml .Values.nvidiaDevicePlugin.nodeAffinity | indent 10 }}
      {{- end}}
      priorityClassName: system-node-critical
      volumes:
      - name: device-plugin
        hostPath:
          path: {{ required "nvidiaDevicePlugin.hostDevicePluginPath" .Values.nvidiaDevicePlugin.hostDevicePluginPath }}
      - name: dev
        hostPath:
          path: /dev
      - hostPath:
          path: /opt/nvidia-installer/cache/nvidia/{{ required "nvidiaDevicePlugin.nvidiaDriverVersion" .Values.nvidiaDevicePlugin.nvidiaDriverVersion }}
          type: Directory
        name: nvidia
      imagePullSecrets: {{ template "image-pull-secrets" . }}
      containers:
      - name: nvidia-gpu-device-plugin
        image: {{ .Values.nvidiaDevicePlugin.devicePluginImage }}
        command:
        - "/usr/bin/nvidia-gpu-device-plugin"
        - "-logtostderr"
        - {{ printf "-host-path=%s/nvidia" .Values.nvidiaInstaller.hostDriverPath }}
        env:
        - name: LD_LIBRARY_PATH
          value: /usr/local/nvidia/lib
        - name: GOMAXPROCS
          value: '1'
        resources:
{{ toYaml .Values.nvidiaDevicePlugin.resources | indent 12 }}
        securityContext:
          privileged: true
        volumeMounts:
        - name: device-plugin
          mountPath: /device-plugin
        - name: dev
          mountPath: /dev
        - mountPath: /usr/local/nvidia
          name: nvidia
{{- if .Values.nvidiaDevicePlugin.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nvidiaDevicePlugin.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.nvidiaDevicePlugin.tolerations }}
      tolerations:
{{ toYaml .Values.nvidiaDevicePlugin.tolerations | indent 6 }}
{{- end }}
  updateStrategy:
    type: RollingUpdate
