# TODO: List of pre-existing secrets containing private registry credentials
# For example
# imagePullSecrets:
# - name: myRegistryKeySecretName
imagePullSecrets: []

# Configure a secret that should be created and then used for pulling images
imagePullSecret:
  # TODO: decide whether you want to create a new secret or use an existing one (using imagePullSecrets above)
  enabled: false
  # TODO: change e30k to a base64-encoded Docker registry JSON authentication file
  dockerconfigjson: "e30K"
  annotations:

debug: false  # Set to true to output all shell commands (enables `set -x` in scripts)

nodeSelector: {}
nodeAffinity:
  requiredDuringSchedulingIgnoredDuringExecution:
    nodeSelectorTerms:
    - matchExpressions:
      - key: gpu
        operator: Exists
      - key: os-version
        operator: In
        # TODO: Edit <gardenlinux-version>
        values: ["<gardenlinux-version>"]
tolerations:
- key: "" # An empty key with operator Exists matches all keys, values and effects which means this will tolerate everything.
  operator: Exists
  effect: NoSchedule
- key: ""
  operator: Exists
  effect: NoExecute
- key: CriticalAddonsOnly
  operator: Exists

nvidiaInstaller:
  # TODO: Set custom image registry, if required, e.g. "eu.gcr.io/project-name"
  imageRegistry: ""
  # TODO: Edit <gardenlinux-version> and <driver-version> accordingly
  installerImage: com.sap.ai/nvidia-installer-<gardenlinux-version>-<driver-version>
  # TODO: Edit image tag
  installerTag: latest
  pauseImage: gcr.io/google_containers/pause-amd64:3.0
  kubectlImage: bitnami/kubectl:latest
  hostDriverPath: /opt/drivers
  installerResources:
    requests:
      cpu: 10m
      memory: 10Mi
    limits:
      cpu: 8
      memory: 1Gi
  environment:
  - name: IGNORE_MISSING_MODULE_SYMVERS
    value: "1"

nvidiaDevicePlugin:
  # TODO: Set custom image registry, if required, e.g. "eu.gcr.io/project-name"
  imageRegistry: ""
  # Image URI from https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/cmd/nvidia_gpu/device-plugin.yaml or from https://console.cloud.google.com/artifacts/docker/gke-release/us/gcr.io/nvidia-gpu-device-plugin
  devicePluginImage: gcr.io/gke-release/nvidia-gpu-device-plugin:1.0.25-gke.56
  # TODO: Edit <driver-version>
  nvidiaDriverVersion: <driver-version>
  hostDevicePluginPath: /var/lib/kubelet/device-plugins
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      memory: 100Mi
# Uncomment the lines below to create and use `gpu_config.json`
#  gpuConfig:
#    # Based on the go struct found here: https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/pkg/gpu/nvidia/manager.go#L70
#    GPUPartitionSize: ""
#    GPUSharingConfig:
#      GPUSharingStrategy: ""
#      MaxSharedClientsPerGPU: 0
#    HealthCriticalXid: []
