name: Build Drivers (non-container artifacts)

on:
  workflow_call:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install PyYAML
        run: pip install pyyaml

      - name: Generate matrix
        id: set-matrix
        run: |
          MATRIX_JSON="$(python3 .ci/generate_matrix.py)"
          echo "matrix=$(echo "$MATRIX_JSON" | jq -c '.build')" >> $GITHUB_OUTPUT

  build:
    needs: generate-matrix
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}

    env:
      TARGET_ARCH: ${{ matrix.arch }}
      GL_VERSION: ${{ matrix.os_version }}
      DRIVER_VERSION: ${{ matrix.driver_version }}
      KERNEL_TYPE: ${{ matrix.kernel_flavour }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Extract kernel name
        id: extract_kernel
        run: |
          echo "using ghcr.io/gardenlinux/gardenlinux/kmodbuild:${TARGET_ARCH}-${GL_VERSION}"
          KERNEL_NAME=$(docker run --rm \
            -v "${PWD}:/workspace" \
            -w /workspace \
            -e KERNEL_TYPE="${KERNEL_TYPE}" \
            ghcr.io/gardenlinux/gardenlinux/kmodbuild:${TARGET_ARCH}-${GL_VERSION} \
            ./resources/extract_kernel_name.sh "$KERNEL_TYPE")
          echo "kernel_name=$KERNEL_NAME"
          echo "kernel_name=$KERNEL_NAME" >> $GITHUB_OUTPUT

      - name: Compile module
        env:
          KERNEL_NAME: ${{ steps.extract_kernel.outputs.kernel_name }}
        run: |
          mkdir ${{ github.workspace }}/out
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -v ${{ github.workspace }}/out:/out \
            -w /workspace \
            --env TARGET_ARCH \
            --env GL_VERSION \
            --env DRIVER_VERSION \
            --env KERNEL_FLAVOUR \
            --env KERNEL_NAME \
            ghcr.io/gardenlinux/gardenlinux/kmodbuild:${TARGET_ARCH}-${GL_VERSION} \
            bash ./resources/compile.sh

      - name: Upload built driver
        uses: actions/upload-artifact@v4
        if: github.event_name != 'pull_request'
        with:
          name: driver-${{ matrix.os_version }}-${{ matrix.arch }}-${{ matrix.kernel_flavour }}-${{ matrix.driver_version }}
          path: ${{ github.workspace }}/out/nvidia/driver.tar.gz

  check-complete:
    name: Pull Request Check
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request'
    needs: build
    steps:
      - name: Ensure all matrix jobs passed
        run: |
          if [[ "${{ needs.build.result }}" != "success" ]]; then
            echo "One or more build jobs failed."
            exit 1
          fi
